<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Les stars</title>
    <style>
        p{
            color: white;
        }
        h2{
            color: white;
        }
    </style>
</head>
<body>
{#boucle for pour les catégories, on sépare l'individuel du pluriel#}
{% for category in categories %}
{#    Condition si les articles sont publiés ou non #}
    {% if category.published %}
        <article style="background-color: {{ category.color }}">
            <h2>{{ category.title }}</h2>
            <img src="{{ category.image }}" alt="image">
            <p>Article datant de : {{ category.publishedDate|date("d/m/Y") }}</p>
        </article>
    {% else %}
        <p>Reviens plus tard !</p>
    {% endif %}
{% endfor %}

</body>
</html>